*{
  font-family: 'Tajawal', sans-serif;
  margin: 0;
  padding: 0;
}

/* navbar media query */

@media only screen and (max-width: 1200px){
nav{
  width: 100%;
  color: white;
  font-size: 2rem;
  background-color:#BBCF3D;
  height: 6vh;
  position: sticky;
  top:0;
  z-index: 1
}

.myNav{
  height: 6vh;
  display:flex;
  align-items: center;
  justify-content: space-between;
}

.logo{
  height: 4vh;
  width: auto;
}

.logo-footer{
  height: 10vh;
  width: auto;
  display: block;
  margin-bottom: 40px;
}

.features{
  min-height:50vh;
  text-align: center;
  margin-bottom:80px;
}

.feature{
  display: block;
  margin: auto;
  min-height: 10vh;
  border: 2px solid #B2ACAB;
  border-radius: 10px;
  margin-bottom: 40px;
}

.feature i{
  margin:50px 0px;
  font-size: 3em;
  color: #BBCF3D
}

.feature h3{
  margin-bottom: 100px;
}

.complain{
  background-image: url("../images/pattern2.png");
  font-size: 50px;
  color: white;
  padding: 80px;
  display: flex;
  min-height: 25vh;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}

.idea{
  background-image: url("../images/pattern1.png");
  font-size: 50px;
  color: white;
  padding: 80px;
  display: flex;
  min-height: 25vh;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}

}

@media only screen and (min-width: 1200px){
nav{
  width: 100%;
  color: white;
  font-size: 2rem;
  background-color:#BBCF3D;
  height: 15vh;
  position: sticky;
  top:0;
  z-index: 1
}

.myNav{
  height: 15vh;
  display:flex;
  align-items: center;
  justify-content: space-between;
}

.logo{
  height: 10vh;
  width: auto;
}

.logo-footer{
  height: 30vh;
  width: auto;
  display: block;
  margin-bottom: 40px;
}

.features{
  height:100vh;
  text-align: center;
  display: flex;
  align-items: center;
  margin-bottom: 80px;
}

.feature{
  padding: 25px;
}

.feature-container{
  min-height: 25vh;
  border: 2px solid #B2ACAB;
  border-radius: 10px;
  padding: 20px;
}

.feature i{
  margin:50px 0px;
  font-size: 3em;
  color: #BBCF3D
}

.feature h3{
  margin-bottom: 100px;
}

.complain{
  background-image: url("../images/pattern2.png");
  font-size: 50px;
  color: white;
  padding: 80px;
  display: flex;
  min-height: 70vh;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}

.idea{
  background-image: url("../images/pattern1.png");
  font-size: 50px;
  color: white;
  padding: 80px;
  display: flex;
  min-height: 70vh;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}

}


#carouselExampleControls{
  margin-bottom: 80px;
}

.ad{
  position: relative;
  top:-30px;
  margin: 0px auto 50px auto;
  width: 100%;
  height: auto;
}

.categories{
  /* margin-bottom: 50px; */
  text-align: center;
  /* transform: translateX(-100%); */
}

.categories img{
  width:100%
}

.category{
  margin-bottom: 30px;
}

.categories h2 {
  font-size: 50px;
  color: white;
  position: relative;
  top:-70px
}

.productCollection{
  margin-bottom: 80px;
}

.productCollection1{
  margin-bottom: 80px;
  transform: translateX(-70%);
}




.complainsAndIdeas{
  margin-bottom: 100px;
  /* padding: 0px 200px 0px 200px; */
  text-align:center;
  position: relative;
}

/* .complain{
  background-image: url("../images/pattern2.png");
  font-size: 50px;
  color: white;
  padding: 80px;
}

.idea{
  background-image: url("../images/pattern1.png");
  font-size: 50px;
  color: white;
  padding: 80px;
} */


.footerr{
  min-height: 30vh;
  width: 100%;
  background-image: url("../images/footer.png");
  padding: 60px;
  color: white;
}

.footerr h5{
  margin-bottom: 50px;
}

#section2-footer{
  padding-right: 30px;
}

#section2-footer h5{
  margin-bottom: 10px;
}

#section2-footer i{
  margin:5px;
}

#section3-footer {
  padding-right: 30px;
}

#section3-footer h3{
  margin-bottom: 30px;
}

#section3-footer h5{
  margin-bottom: 10px;
}



#activeCat{
  transform: translateX(0);
}
